/*(C) Ryan Warren*/

body {
/*width: 800px;*/
font: 12px Verdana;
/*margin:auto;
width:70%;*/
}

p {
margin-top: 0;
margin-bottom: .35em;
}

h1 {
font: 1.4em Verdana;
margin-bottom: .5em;
}

h2 {
font: Bold 1.2em Verdana;
text-transform: uppercase;
border-bottom:1px #dddddd solid;
text-align: left;
margin-bottom: .35em;
}

#header { 
/*border-bottom:1px #dddddd solid;*/
}

#body {
width: 800px;
text-align: center;
margin:auto;
/*width:70%;*/

}

#work {
text-align: left;
}

#other{
text-align: left;
}

ul {
margin-top:0;
list-style-type: none;
margin-left: .5em;
padding-left: .5em;
margin-bottom:0;

}

li {
margin-bottom: .2em;
list-style-type: none;
}


